force-app/main/default/flows/Add_Visit_to_Pitch-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>visitApi</name>
        <dataType>String</dataType>
        <value>
            <stringValue>dwp_kitv__Visit__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ButtonDecision</name>
        <label>ButtonDecision</label>
        <locationX>354</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Visit</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_visit</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetRel</name>
        <label>GetRel</label>
        <locationX>937</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Visit_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotRel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PithcVisitRel.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>createVisitPitchRelation_0_0</targetReference>
            </connector>
            <label>NotRel</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAttachment</name>
        <label>isAttachment</label>
        <locationX>634</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>VISIT_20190828</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>visitText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Add Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Visit to Pitch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createVisitPitchRelation_0_0</name>
        <label>createVisitPitchRelation</label>
        <locationX>1091</locationX>
        <locationY>45</locationY>
        <inputAssignments>
            <field>dwp_kitv__topic_desc__c</field>
            <value>
                <stringValue>Topic to related a pitch with de Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_id__c</field>
            <value>
                <elementReference>visitText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pitch_visit_topic_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit_Topic__c</object>
    </recordCreates>
    <recordLookups>
        <name>getPitch_0</name>
        <label>getPitch</label>
        <locationX>51</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisitScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Pitch__c</object>
        <outputReference>pitchRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VISIT_20190828</name>
        <label>VISIT 20190828</label>
        <locationX>804</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRel</targetReference>
        </connector>
        <filters>
            <field>dwp_kitv__visit_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>visitText</elementReference>
            </value>
        </filters>
        <filters>
            <field>pitch_visit_topic_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>dwp_kitv__Visit_Topic__c</object>
        <outputAssignments>
            <assignToReference>PithcVisitRel.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>553</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Visit</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;It´s necessary to attach a Visit to save the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Visit</name>
        <label>Select Visit</label>
        <locationX>449</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isAttachment</targetReference>
        </connector>
        <fields>
            <name>visit</name>
            <extensionName>c:Flow_Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>equals</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>dwp_kitv__Visit__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>visitText</assignToReference>
                <name>selectedLookUpUserID</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visit_Exist</name>
        <label>Visit Exist</label>
        <locationX>948</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VisitExist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; color: rgb(38, 50, 56);&quot;&gt;This Visit has already been related to this Pitch.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VisitScreen</name>
        <label>Visit</label>
        <locationX>229</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ButtonDecision</targetReference>
        </connector>
        <fields>
            <name>VisitControll</name>
            <extensionName>c:DES_Visit_Pitch_Buttons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddButton</assignToReference>
                <name>AddVisit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewButton</assignToReference>
                <name>NewVisit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getPitch_0</startElementReference>
    <subflows>
        <name>New_visit</name>
        <label>New visit</label>
        <locationX>361</locationX>
        <locationY>499</locationY>
        <flowName>New_Visit_Pitch</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pitchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pitch__c</objectType>
    </variables>
    <variables>
        <name>PithcVisitRel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dwp_kitv__Visit_Topic__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
