force-app/main/default/flows/Add_Pitch_To_Opportunity-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PutPitch</name>
        <label>PutPitch</label>
        <locationX>875</locationX>
        <locationY>230</locationY>
        <actionName>c:DES_Get_Pitch</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>PitchId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>IsAttachment</name>
        <label>IsAttachment</label>
        <locationX>456</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>GetRel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PitchId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRel</name>
        <label>IsRel</label>
        <locationX>707</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Visit_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotRel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppoPitchRel.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_0_0</targetReference>
            </connector>
            <label>NotRel</label>
        </rules>
    </decisions>
    <interviewLabel>Add Pitch To Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Pitch To Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>C_0_0</name>
        <label>createOppPitchRelation</label>
        <locationX>875</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>PutPitch</targetReference>
        </connector>
        <inputAssignments>
            <field>opportunity_pitch_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pitch_opportunity_id__c</field>
            <value>
                <elementReference>PitchId</elementReference>
            </value>
        </inputAssignments>
        <object>Related_opportunity_pitch__c</object>
    </recordCreates>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>198</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Pitch_To_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRel</name>
        <label>GetRel</label>
        <locationX>625</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRel</targetReference>
        </connector>
        <filters>
            <field>opportunity_pitch_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pitch_opportunity_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PitchId</elementReference>
            </value>
        </filters>
        <object>Related_opportunity_pitch__c</object>
        <outputAssignments>
            <assignToReference>OppoPitchRel.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Pitch_To_Opportunity</name>
        <label>Add Pitch To Opportunity</label>
        <locationX>340</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAttachment</targetReference>
        </connector>
        <fields>
            <name>Opportunity</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opp</name>
            <extensionName>c:Flow_Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Pitch__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PitchId</assignToReference>
                <name>selectedLookUpUserID</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>460</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Pitch_To_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;It´s necessary to attach a Pitch to save the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visit_Exist</name>
        <label>Visit Exist</label>
        <locationX>718</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VisitExist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(38, 50, 56); font-family: Roboto, sans-serif;&quot;&gt;This Pitch has already been related to this opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getOpp</startElementReference>
    <variables>
        <name>OppoPitchRel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_opportunity_pitch__c</objectType>
    </variables>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PitchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
