force-app/main/default/flows/Add_Opportunity-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Closed_Lost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed_Lost</stringValue>
        </value>
    </constants>
    <constants>
        <name>oppApi</name>
        <dataType>String</dataType>
        <value>
            <stringValue>opportunity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isAttachment</name>
        <label>isAttachment</label>
        <locationX>567</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>GetRel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRel</name>
        <label>IsRel</label>
        <locationX>895</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Opp_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotRel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppoPitchRel.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>createOppPitchRelation</targetReference>
            </connector>
            <label>NotRel</label>
        </rules>
    </decisions>
    <interviewLabel>Add Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOppPitchRelation</name>
        <label>createOppPitchRelation</label>
        <locationX>1093</locationX>
        <locationY>46</locationY>
        <inputAssignments>
            <field>opportunity_pitch_id__c</field>
            <value>
                <elementReference>opportunityText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pitch_opportunity_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Related_opportunity_pitch__c</object>
    </recordCreates>
    <recordLookups>
        <name>getPitch</name>
        <label>getPitch</label>
        <locationX>255</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Pitch__c</object>
        <outputReference>pitchRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRel</name>
        <label>GetRel</label>
        <locationX>787</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRel</targetReference>
        </connector>
        <filters>
            <field>opportunity_pitch_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityText</elementReference>
            </value>
        </filters>
        <filters>
            <field>pitch_opportunity_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Related_opportunity_pitch__c</object>
        <outputAssignments>
            <assignToReference>OppoPitchRel.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>509</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;It´s necessary to attach a Opportunity to save the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opp_Exist</name>
        <label>Opp Exist</label>
        <locationX>903</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppExist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; color: rgb(38, 50, 56);&quot;&gt;This Opportunity has already been related to this Pitch.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity</name>
        <label>Select Opportunity</label>
        <locationX>448</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isAttachment</targetReference>
        </connector>
        <fields>
            <name>opportunity</name>
            <extensionName>c:Flow_Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>equals</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useSOSLQuery</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useSOSLQueryvalidation</name>
                <value>
                    <stringValue>Closed Lost;Closed Win</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useSOSLQueryWherevalidation</name>
                <value>
                    <stringValue>StageName</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityText</assignToReference>
                <name>selectedLookUpUserID</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getPitch</startElementReference>
    <variables>
        <name>OppoPitchRel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_opportunity_pitch__c</objectType>
    </variables>
    <variables>
        <name>opportunityText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppPitchRelationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_opportunity_pitch__c</objectType>
    </variables>
    <variables>
        <name>pitchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pitch__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
