force-app/main/default/flows/Duplicate_Pitch-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Pitch</name>
        <label>Open Pitch</label>
        <locationX>615</locationX>
        <locationY>51</locationY>
        <actionName>c:DES_Get_Pitch</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>PitchId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Duplicate Pitch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Pitch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pitch_0</name>
        <label>Create Pitch</label>
        <locationX>507</locationX>
        <locationY>51</locationY>
        <assignRecordIdToReference>PitchId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_Pitch</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PitchForm.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pith__participant_id__c</field>
            <value>
                <elementReference>ClientRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pith__pitch_desc__c</field>
            <value>
                <elementReference>PitchForm.pith__pitch_desc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pith__solution_category_name__c</field>
            <value>
                <elementReference>PitchForm.pith__solution_category_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pith__solution_name_path_desc__c</field>
            <value>
                <elementReference>PitchForm.pith__solution_name_path_desc__c</elementReference>
            </value>
        </inputAssignments>
        <object>pith__Pitch__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>167</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_screen_validation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>pith__Pitch__c</object>
        <outputReference>RecordForm</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pith__solution_category_name__c</queriedFields>
        <queriedFields>pith__solution_name_path_desc__c</queriedFields>
        <queriedFields>pith__pitch_desc__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Duplicate_screen_validation</name>
        <label>Duplicate</label>
        <locationX>279</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Pitch</targetReference>
        </connector>
        <fields>
            <name>Duplicate_mensage</name>
            <fieldText>&lt;p&gt;You are about to duplicate the pitch &quot;{!RecordForm.Name}&quot;. Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pitch</name>
        <label>New Pitch</label>
        <locationX>387</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Pitch_0</targetReference>
        </connector>
        <fields>
            <name>Pitch_Form</name>
            <extensionName>c:Create_Pitch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Description</name>
                <value>
                    <elementReference>RecordForm.pith__pitch_desc__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Name</name>
                <value>
                    <elementReference>RecordForm.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Product</name>
                <value>
                    <elementReference>RecordForm.pith__solution_name_path_desc__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ProductFamily</name>
                <value>
                    <elementReference>RecordForm.pith__solution_category_name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PitchForm.pith__pitch_desc__c</assignToReference>
                <name>Description</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PitchForm.Name</assignToReference>
                <name>Name</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PitchForm.pith__solution_name_path_desc__c</assignToReference>
                <name>Product</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PitchForm.pith__solution_category_name__c</assignToReference>
                <name>ProductFamily</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ClientRecord</assignToReference>
                <name>ClientName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetRecord</startElementReference>
    <variables>
        <name>ClientRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PitchForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pith__Pitch__c</objectType>
    </variables>
    <variables>
        <name>PitchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pith__Pitch__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
