force-app/main/default/flows/New_Visit_Pitch-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_LeadVisit</name>
        <label>Redirect to LeadVisit</label>
        <locationX>736</locationX>
        <locationY>93</locationY>
        <actionName>c:DES_dynamic_redirect_flow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>object</name>
            <value>
                <elementReference>visit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_leadVisitId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>choice_ConfidentialInformation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Confidential information&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confidential information</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_InsideInformation</name>
        <choiceText>&lt;i style=&quot;font-size: small; background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Inside Information (IP/MNPI)&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside information</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_none</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;--None--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_NotApplicable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Not applicable&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>var_acquisition</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Acquisition&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03</stringValue>
        </value>
    </choices>
    <choices>
        <name>var_commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01</stringValue>
        </value>
    </choices>
    <choices>
        <name>var_strat</name>
        <choiceText>Strategic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02</stringValue>
        </value>
    </choices>
    <constants>
        <name>visit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>dwp_kitv__Visit__c</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>choices_channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>dwp_kitv__visit_channel__c</picklistField>
        <picklistObject>dwp_kitv__Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_duration</name>
        <dataType>String</dataType>
        <displayField>dwp_kitv__visit_duration_number__c</displayField>
        <object>dwp_kitv__Visit__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_duration_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>dwp_kitv__visit_duration_number__c</picklistField>
        <picklistObject>dwp_kitv__Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_type3</name>
        <dataType>String</dataType>
        <displayField>dwp_kitv__visit_purpose_type__c</displayField>
        <object>dwp_kitv__Visit__c</object>
    </dynamicChoiceSets>
    <interviewLabel>New_Visit_Pitch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New_Visit_Pitch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_topicLead</name>
        <label>create_topicLead</label>
        <locationX>598</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Redirect_to_LeadVisit</targetReference>
        </connector>
        <inputAssignments>
            <field>dwp_kitv__topic_desc__c</field>
            <value>
                <elementReference>var_Topic2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_id__c</field>
            <value>
                <elementReference>var_leadVisitId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pitch_visit_topic_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit_Topic__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>460</locationX>
        <locationY>100</locationY>
        <assignRecordIdToReference>var_leadVisitId</assignRecordIdToReference>
        <connector>
            <targetReference>create_topicLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_visitName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__disclosure_info_type__c</field>
            <value>
                <elementReference>var_disclosureVal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__account_id__c</field>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__lead_id__c</field>
            <value>
                <elementReference>var_leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_duration_number__c</field>
            <value>
                <elementReference>var_durationVal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_location_desc__c</field>
            <value>
                <elementReference>var_locationVal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_purpose_type__c</field>
            <value>
                <elementReference>var_typeVal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dwp_kitv__visit_start_date__c</field>
            <value>
                <elementReference>var_startdate3</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>171</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visit_Form_Screem_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Pitch__c</object>
        <outputAssignments>
            <assignToReference>clientId</assignToReference>
            <field>participant_id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Visit_Form_Screem_0</name>
        <label>Visit Form</label>
        <locationX>321</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Visit</targetReference>
        </connector>
        <fields>
            <name>var_disclosureVal2</name>
            <choiceReferences>choice_NotApplicable</choiceReferences>
            <choiceReferences>choice_ConfidentialInformation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Information disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_visitName2</name>
            <dataType>String</dataType>
            <fieldText>Visit Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_startdate3</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_durationVal2</name>
            <choiceReferences>choices_duration_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Duration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_locationVal2</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>var_typeVal2</name>
            <choiceReferences>var_commercial</choiceReferences>
            <choiceReferences>var_strat</choiceReferences>
            <choiceReferences>var_acquisition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_Topic2</name>
            <dataType>String</dataType>
            <fieldText>Topic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetRecord</startElementReference>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_disclosureVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_durationVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_leadVisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_locationVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_showDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_startdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_startdate2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_topicVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_typeVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_visitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
