force-app/main/default/flows/New_BBVA_Pitch_Member-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Exist</name>
        <label>Exist</label>
        <locationX>827</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>Member_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotRel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>test.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getUser</targetReference>
            </connector>
            <label>NotRel</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNull</name>
        <label>IsNull</label>
        <locationX>604</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>BBVARecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <interviewLabel>New BBVA Pitch Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New BBVA Pitch Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createBBVAPitchMember</name>
        <label>createBBVAPitchMember</label>
        <locationX>980</locationX>
        <locationY>523</locationY>
        <inputAssignments>
            <field>external_reference_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>external_user_id__c</field>
            <value>
                <elementReference>userText</elementReference>
            </value>
        </inputAssignments>
        <object>BBVA_Pitch_Team__c</object>
    </recordCreates>
    <recordLookups>
        <name>BBVARecord</name>
        <label>BBVARecord</label>
        <locationX>837</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filters>
            <field>external_reference_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>external_user_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userText</elementReference>
            </value>
        </filters>
        <object>BBVA_Pitch_Team__c</object>
        <outputAssignments>
            <assignToReference>test.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPitch</name>
        <label>getPitch</label>
        <locationX>268</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Pitch__c</object>
        <outputReference>pitchRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>974</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createBBVAPitchMember</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userText</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>541</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Member_Details</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;It´s necessary to attach a Member to save the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Details</name>
        <label>Member Details</label>
        <locationX>474</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsNull</targetReference>
        </connector>
        <fields>
            <name>Pitch</name>
            <fieldText>&lt;p&gt;{!pitchRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>userBBVA</name>
            <extensionName>c:Flow_Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>userText</assignToReference>
                <name>selectedLookUpUserID</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Exist</name>
        <label>Member Exist</label>
        <locationX>752</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MemberExist_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: small;&quot;&gt;This&amp;nbsp;pitch member already exist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getPitch</startElementReference>
    <variables>
        <name>pitchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pitch__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BBVA_Pitch_Team__c</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
